@import '../src/main'

header
  position: sticky
  top: 0
  z-index: 2

.nav-bg
  background: black

.nav
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 60px

#navbar
  display: flex
  align-items: center
  justify-content: center
  margin: 0

  li
    list-style: none
    padding: 0 20px
    position: relative
    text-transform: uppercase

    a
      text-decoration: none
      font: 110% $main-font
      font-weight: bold
      color: $white

    a:hover
      color: $orange

  .active
    color: $orange

.logo
  color: $white
  font-weight: bold
  color: $orange

  img
    height: 50px

#mobile
  display: none

  i
    color: $white
    align-items: center
    position: absolute
    right: 0
    top: 0
    padding: 25px

@media (max-width: 767px)
  #navbar
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    position: fixed
    right: -310px
    top: 0
    width: 300px
    height: 100vh
    background-color: black
    padding: 40px 0 0 0px
    transition: 0.4s ease-in-out

    li
      margin-bottom: 25px

  #mobile
    display: block

    i
      cursor: pointer
      font-size: 30px
      color: $orange

#navbar.active
  right: 0px
