@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;0,900;1,900&display=swap')

$black: #242222
$white: #eeeeee
$yellow: #ffee00
$orange: #ff9900
$blue: #5627a7
$green: #2c6536
$dark-green: #315237
$main-font: 'Poppins', sans-serif

*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  position: relative
  background: url('../../assets/main-image.jpg') no-repeat center center/cover
  margin: 0
  padding: 0
  font-family: $main-font
  color: $white
