@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;0,900;1,900&display=swap')

$main: #b6ad36
$black: #242222
$lightblack: #353333
$white: #eeeeee
$grey: #bebebe
$main-font: 'Poppins', sans-serif

*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  position: relative
  background: url('../../assets/main-image.jpg')
  background-repeat: no-repeat
  padding: 0
  margin: 0
  font-family: $main-font

.section-name
  color: $main
  padding: 10px
  text-align: center

button
  background: $main
  border-radius: 5px
  border: 1px solid transparent
  padding: 10px 20px
  text-transform: uppercase
  color: $black
  font-weight: bold
  cursor: pointer

button:hover
  background: transparent
  color: $main
  border: 1px solid $main
